.login{
    margin-left:38% ;
    margin-top: 10%;
}
.inputBox{
   
    display: block;
    margin: 20px;
    width:40%;
    height:35px;
   
   border-top: none;
   border-left: none;
   border-right: none;
   border-bottom-color:skyblue;
   cursor:pointer; 
    
}